.flex-nav {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position-x: 300px;
    background-repeat: no-repeat;
    transition: background-position-x cubic-bezier(0.82, 0, 0.44, 0.93) 1s;
    z-index: 99999;
    position: absolute;

    &--bg-dev{background-image: url('images/dev-bg.jpg');}
    &--bg-name{background-image: url('images/fab.jpg');}
    &--bg-blog {background-image: url('images/sick.jpg');}
    &--bg-photo {background-image: url('images/homebg.jpg');}
    &--bg-twitter{
        transition: background-position-x .4s !important; //hack probably because of background repeat
        background-image: url('images/flamezzz.gif');
        background-size: 150px;
        background-repeat: repeat;
    }

    &--name {color: #d76a03;}
    &--dev{color: #8EB8E5;}
    &--photo {color: #E5E059;}
    &--email {color: #d76a03;}
    &--blog {color: #271F30;}
    &--twitter {color: #8EB8E5;}

    .link-item {
        transition: all cubic-bezier(0.6, 0.32, 0.15, 0.99) 0.75s;

        &--shift {
            color: #141414;
            font-size: 22px;
            text-decoration: none;
        }
    }

    &--slide{
        background-position-x: 0px;
        transition: background-image .4s, background-position-x .4s;

        // transition: background-position-x .4s;
        // transition: background-image ease .4s;
    }

    &__line {
        margin: 10px 0;
        font-weight: 400;

        &--wrapper {
            display: inline-block;
            background-color: $white;
            padding: 15px 50px 15px 0px;
            border-radius: 4px;
        }
    }

    &__container {
        width: 100%;
        position: relative;
        margin-right: 0px;
        transition: all ease .2s;

        &--wrapper {
            padding-left: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
              transition: all ease .5s;
            }
        }
    }

    &__slider {
        background-color:$white;
        height: 100vh;
        width: 100%;
        // position: relative;
        position:absolute;
        left: 0;
        // right: 0;
        transition: all cubic-bezier(0.82, 0, 0.44, 0.93) 1s;

        &--slide {
            transition: all ease .4s;
            width: 40%;
            left: 0;
        }
    }

    &--left-border {
        width: 20px;
        height: 100vh;
        left: 0;
        z-index: 10;

        span {
            height: 20vh;
            display: block;

            &:first-child{background-color: #271F30;}
            &:nth-child(2){background-color: #8EB8E5;}
            &:nth-child(3){background-color: #D76A03;}
            &:nth-child(4){background-color: #E5E059;}
            &:nth-child(5){background-color: #8C1C13;}
        }
    }
}

.logo {
    height: 125px;
    display: block;
    top: 30px;
    position: absolute;
    z-index: 10;
    left: 30px;
    right: 20px;
}

#dissapear {
  opacity: 0;
  // &Hide {
    // display: none;
  // }

}
